.background{
position: absolute;
width:100vw;
height:100vw;
top:0px;
left:0px;
background-color: rgb(22,143,213); 
}

.title1{
position: absolute;
top:10px;
left:10px;
font-family:'Roboto', sans-serif;
font-size: 156px;
font-weight:400;
color:white; 
}

.title2{
position: absolute;
top:11px;
left:4px;
font-family:'Roboto', sans-serif;
font-size: 248px; 
font-weight:400;
color: rgb(255,178,45);
}

.title3{
position: absolute;
top:506px;
left:21px;
font-family:'Roboto', sans-serif;
font-weight: 300;
font-size: 21px; 
color: white;
}

.watch{
position: absolute;
top:581px;
left:1003px;
font-family:'Roboto', sans-serif;
font-size:40px;
font-weight:400;
color: orange; 
}

.go{
position:absolute;
top:620px;
left:993px;
width:223px;
height:57px;
background-color: white;
border-radius: 22px;
}

.background2{
position: absolute;
width:100vw;
height:100vw;
top:0px;
left:0px;
background-color: orange; 
}

.largetvbox{
top:48px;
left:27px;
height:599px;
width:856px;
border-radius: 22px;
background-color: rgb(22,143,213);
position: absolute;
}

.smalltv{
top:74px;
left:55px;
height:544px;
width:798px;
border-radius: 22px;
background-color: rgb(41,127,170);
position: absolute;
}

.tvscreen{
top:74px;
left:55px;
height:544px;
width:798px;
border-radius: 22px;
background-color: transparent;
position: absolute;
}

.tvscreen1 {
background-image: url(atl.jpg);
}

.tvscreen2 {
background-image: url(bill.jpg);
}

.tvscreen3 {
background-image: url(black.jpg);
}

.tvscreen4 {
background-image: url(chi.jpg);
}

.tvscreen5 {
background-image: url(dear.jpg);
}

.tvscreen6 {
background-image: url(grown.jpg);
}

.tvscreen7 {
background-image: url(handmaid.jpg);
}

.tvscreen8 {
background-image: url(insecure.jpg);
}

.tvscreen9 {
background-image: url(omb.jpg);
}

.tvscreen10 {
background-image: url(sharp.jpg);
}

.tvscreen11 {
background-image: url(stranger.jpg);
}

.tv1screen2 {
background-image: url(this.jpg);
}


/*.instructions1{
position: absolute;
top:10px;
left:80px;
font-family:'Roboto', sans-serif;
font-weight: 400;
font-size:84px;
color: white;	
}

.instructions2{
position: absolute;
top:10px;
left:100px;
font-family:'Roboto', sans-serif;
font-weight: 400;
font-size:64px;
color: white;	
}

.instructions3{
position: absolute;
top:60px;
left:80px;
font-family:'Roboto', sans-serif;
font-weight: 400;
font-size:84px;
color: white;	
}
*/

.rem1{
position: absolute;
top:148px;
left:974px;
width:189px;
height:430px;
background-color:rgb(22,143,213);
border-radius: 22px;
}

.channel{
width: 28px;
height: 28px;
position: absolute;
border-radius: 50%;
background-color:white;
}

.channelone{
position: absolute;
top: 240px;
left: 1000px; 
}

.channeltwo{
top: 240px;
left: 1055px; 
}

.channelthree{
top: 240px;
left: 1110px; 
}

.channelfour{
top: 314px;
left: 1000px; 
}

.channelfive{
top: 314px;
left: 1056px; 
}

.channelsix{
top: 314px;
left: 1110px; 
}

.channelseven{
top: 391px;
left: 1000px; 
}

.channeleight{
top: 391px;
left: 1055px; 
}

.channelnine{
top: 391px;
left: 1110px; 
}

.channelten{
top: 465px;
left: 1000px; 
}

.channeleleven{
top: 465px;
left: 1055px; 
}

.channeltwelve{
top: 465px;
left: 1110px; 
}

.number{
	position: absolute;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 14px; 
	color: rgb(41,127,170);
}

.numberone{
top: 246px;
left: 1009px; 
}

.numbertwo{
top: 246px;
left: 1065px; 
}

.numberthree{
top: 246px;
left: 1119px; 
}

.numberfour{
top: 320px;
left: 1009px; 
}

.numberfive{
top: 320px;
left: 1065px; 
}

.numbersix{
top: 320px;
left: 1119px; 
}

.numberseven{
top: 398px;
left: 1009px; 
}

.numbereight{
top: 398px;
left: 1065px; 
}

.numbernine{
top: 398px;
left: 1119px; 
}

.numberten{
top: 471px;
left: 1005px; 
}

.numbereleven{
top: 471px;
left: 1061px; 
}

.numbertwelve{
top: 471px;
left: 1115px; 
}

.cast{
position: absolute;
top:10px;
left:10px;
}

.background3{
position: absolute;
width:100vw;
height:100vw;
top:0px;
left:0px;
background-color: rgb(22,143,213); 
}

p{
position: absolute;
width:600px;
left: 650px;
top: 449px;
font-family:'Roboto', sans-serif;
font-weight: 300;
color: white;
}


.atlanta{
position: absolute;
left:650px;
top:75px;

}

.blurb{
position: absolute;
left:650px;
top:409px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 38px; 
color: orange;
}


.blurb2{
position: absolute;
left:650px;
top:409px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 38px; 
color: rgb(22,143,213);
}

.one{

position: absolute;
top:50px;
left:28px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 68px; 
color: orange;
}
.onefive{

position: absolute;
top:50px;
left:28px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 64px; 
color: orange;
}

.oneseven{

position: absolute;
top:50px;
left:28px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 58px; 
color: orange;
}

.photo{
position: absolute;
left:43px;
top:145px;
}

.photo2{
position: absolute;
left:32px;
top:145px;
}

.two{

position: absolute;
top:50px;
left:28px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 68px; 
color: rgb(22,143,213);
}

.button{
position:absolute;
top:670px;
left:1100px;
width:115px;
height:57px;
background-color: white;
border-radius: 22px;
}

.back{
position: absolute;
top:630px;
left:1110px;
font-family:'Roboto', sans-serif;
font-size:40px;
font-weight:400;
color: orange; 
}

.button2{
position:absolute;
top:690px;
left:1100px;
width:115px;
height:57px;
background-color: white;
border-radius: 22px;
}

.back2{
position: absolute;
top:650px;
left:1110px;
font-family:'Roboto', sans-serif;
font-size:40px;
font-weight:400;
color: orange; 
}

.button3{
position:absolute;
top:610px;
left:1100px;
width:115px;
height:57px;
background-color: white;
border-radius: 22px;
}

.back3{
position: absolute;
top:570px;
left:1110px;
font-family:'Roboto', sans-serif;
font-size:40px;
font-weight:400;
color: orange;
}

.button4{
position:absolute;
top:648px;
left:1100px;
width:115px;
height:57px;
background-color: white;
border-radius: 22px;
}

.next4{
position: absolute;
top:609px;
left:1114px;
font-family:'Roboto', sans-serif;
font-size:40px;
font-weight:400;
color: orange;
}

.button5{
position:absolute;
top:648px;
left:650px;
width:115px;
height:57px;
background-color: white;
border-radius: 22px;
}

.back4{
position: absolute;
top:609px;
left:660px;
font-family:'Roboto', sans-serif;
font-size:40px;
font-weight:400;
color: orange;
}

.button7{
position:absolute;
top:692px;
left:1100px;
width:115px;
height:57px;
background-color: white;
border-radius: 22px;
}

.next5{
position: absolute;
top:653px;
left:1114px;
font-family:'Roboto', sans-serif;
font-size:40px;
font-weight:400;
color: orange;
}

.button6{
position:absolute;
top:692px;
left:650px;
width:115px;
height:57px;
background-color: white;
border-radius: 22px;
}

.back5{
position: absolute;
top:653px;
left:660px;
font-family:'Roboto', sans-serif;
font-size:40px;
font-weight:400;
color: orange;


