.background{
position: absolute;
width:100vw;
height:100vw;
top:0px;
left:0px;
background-color: rgb(22,143,213); 
}

.title{
  position: absolute;
}

.title1{
top:-55px;
left:96px;
font-family:'Roboto', sans-serif;
font-size: 156px;
font-weight:400;
color:white;

}

.title{
  position: absolute;
}

.title2{
top:-56px;
left:88px;
font-family:'Roboto', sans-serif;
font-size: 248px; 
font-weight:400;
color: rgb(255,178,45);
}

.title3{
top:438px;
left:105px;
font-family:'Roboto', sans-serif;
font-weight: 300;
font-size: 21px; 
color: white;
}

.power{
	 width: 62px;
  height: 30px;
  position: absolute;
  top: 173px;
  left: 990px; 
  background-color: rgb(255,178,45); 
  border-radius: 32px; 
}

.powertext{
position: absolute;
top:177px;
left:997px;
font-family:'Roboto', sans-serif;
font-size: 14px;
font-weight:400;
color:white; 
}



.background2{
position: absolute;
width:100vw;
height:100vw;
top:0px;
left:0px;
background-color: orange; 
}

.largetvbox{
top:48px;
left:27px;
height:599px;
width:856px;
border-radius: 22px;
background-color: rgb(22,143,213);
position: absolute;
}

.smalltv{
top:74px;
left:55px;
height:544px;
width:798px;
border-radius: 22px;
background-color: rgb(41,127,170);
position: absolute;
}

.tvscreen{
top:74px;
left:55px;
height:544px;
width:798px;
border-radius: 22px;
background-color: transparent;
background-image: url(static.gif);
position: absolute;
}

.tvscreen1 {
background-image: url(atl.jpg);
}

.tvscreen2 {
background-image: url(bill.jpg);
}

.tvscreen3 {
background-image: url(black.jpg);
}

.tvscreen4 {
background-image: url(chi.jpg);
}

.tvscreen5 {
background-image: url(dear.jpg);
}

.tvscreen6 {
background-image: url(grown.jpg);
}

.tvscreen7 {
background-image: url(handmaid.jpg);
}

.tvscreen8 {
background-image: url(insecure.jpg);
}

.tvscreen9 {
background-image: url(omb.jpg);
}

.tvscreen10 {
background-image: url(sharp.jpg);
}

.tvscreen11 {
background-image: url(stranger.jpg);
}

.tvscreen12 {
background-image: url(this.jpg);
}



.rem1{
position: absolute;
top:148px;
left:974px;
width:199px;
height:430px;
background-color:rgb(22,143,213);
border-radius: 22px;
}

.channel{
position: absolute;
width: 38px;
height: 38px;
position: absolute;
border-radius: 50%;
background-color:white;
}

.channelone{
position: absolute;
top: 240px;
left: 1000px; 
}

.channeltwo{
top: 240px;
left: 1055px; 
}

.channelthree{
top: 240px;
left: 1110px; 
}

.channelfour{
top: 314px;
left: 1000px; 
}

.channelfive{
top: 314px;
left: 1056px; 
}

.channelsix{
top: 314px;
left: 1110px; 
}

.channelseven{
top: 391px;
left: 1000px; 
}

.channeleight{
top: 391px;
left: 1055px; 
}

.channelnine{
top: 391px;
left: 1110px; 
}

.channelten{
top: 465px;
left: 1000px; 
}

.channeleleven{
top: 465px;
left: 1055px; 
}

.channeltwelve{
top: 465px;
left: 1110px; 
}

.number{
	position: absolute;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 14px; 
	color: rgb(41,127,170);
}

.numberone{
top: 252px;
left: 1014px; 
}

.numbertwo{
top: 252px;
left: 1070px; 
}

.numberthree{
top: 252px;
left: 1124px; 
}

.numberfour{
top: 326px;
left: 1014px; 
}

.numberfive{
top: 326px;
left: 1070px; 
}

.numbersix{
top: 326px;
left: 1124px; 
}

.numberseven{
top: 404px;
left: 1014px; 
}

.numbereight{
top: 404px;
left: 1070px; 
}

.numbernine{
top: 404px;
left: 1124px; 
}

.numberten{
top: 477px;
left: 1010px; 
}

.numbereleven{
top: 477px;
left: 1066px; 
}

.numbertwelve{
top: 477px;
left: 1119px; 
}

.cast{
position: absolute;
top:10px;
left:10px;
}

.background3{
position: absolute;
width:100vw;
height:100vw;
top:0px;
left:0px;
background-color: rgb(22,143,213); 
}

p{
position: absolute;
width:500px;
left: 650px;
top: 536px;
font-family:'Roboto', sans-serif;
font-weight: 300;
color: white;
}


.atlanta{
position: absolute;
left:650px;
top:145px;

}

.blurb{
position: absolute;
left:650px;
top:482px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 38px; 
color: orange;
}


.blurb2{
position: absolute;
left:650px;
top:485px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 38px; 
color: rgb(22,143,213);
}

.one{

position: absolute;
top:50px;
left:28px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 68px; 
color: orange;
}

.name{

position: absolute;
top:50px;
left:88px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 68px; 
color: white;
}

.name2{

position: absolute;
top:50px;
left:126px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 68px; 
color: white;
}

.onefive{

position: absolute;
top:50px;
left:28px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 64px; 
color: orange;
}

.oneseven{

position: absolute;
top:50px;
left:28px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 58px; 
color: orange;
}

.photo{
position: absolute;
left:43px;
top:145px;
}

.photo2{
position: absolute;
left:32px;
top:145px;
}

.two{

position: absolute;
top:50px;
left:28px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 68px; 
color: rgb(22,143,213);
}

.back{
position: absolute;
  top: 672px;
  left: 85px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 57px solid rgb(244, 157, 59);
  transform: rotate(43deg);
}

.back2{
position: absolute;
  top: 672px;
  left: 85px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 57px solid rgb(22,143,213);
  transform: rotate(43deg);
}

.next{
position: absolute;
  top: 672px;
  left: 510px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 57px solid rgb(244, 157, 59);
  transform: rotate(221deg);
}

.next2{
position: absolute;
  top: 672px;
  left: 510px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 57px solid rgb(22,143,213);
  transform: rotate(221deg);
}

.backtext{
position: absolute;
left:60px;
top:730px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 38px; 
color: white;
}

.nexttext{
position: absolute;
left:502px;
top:730px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 38px; 
color: white;
}


.home {
	 width: 152px;
  height: 55px;
  position: absolute;
  top: 672px;
  left: 252px; 
  background-color: rgb(54,181,74); 
  border-radius: 32px; 
}

.hometext{
position: absolute;
left:274px;
top:636px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 38px; 
color: white;
}
