.background{ 

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("Alyssa-L01_01-edit.jpg");
  background-size: contain;
  background-position: center;
 }

.NIKE{

  position:absolute;
  left:25px;
  top:10px;
 
}

/*.NIKE2{

  position:absolute;
  left:25px;
  top:10px;
 
}*/

.SPORTY{

  position:absolute;
  left:365px;
  top:-87px;
  font-family:'Anton', sans-serif;
  font-size: 7.5vw;
  color: rgb(255, 255, 255);

}

.X{

  position:absolute;
  left:630px;
  top:-138px;
  font-family: 'Permanent Marker', cursive;
  font-size: 9.5vw;
  color: rgb(0, 0, 0);

}

.CHIC{

  position:absolute;
  left:719px;
  top:-87px;
  font-family: 'Anton', sans-serif;
  font-size: 7.5vw;
  color: rgb(255, 255, 255);

}

.w{
  
  position:absolute;
  left:722px;
  top:92px;
  font-family: 'Libre Baskerville', serif;
  font-size: 2.25vw;
  color: rgb(0, 0, 0);
}
 

.WHEN2{

  position:absolute;
  left:93px;
  top:565px;
  font-family:'Anton', sans-serif;
  font-size: 4.5vw;
  color: black;
 }


 .where2{

  position:absolute;
  left:377px;
  top:289px;
  font-family:'Anton', sans-serif;
  font-size: 2.5vw;
  letter-spacing: 20pt;
  color: rgb(255, 255,255 );
 }

 .where3{

  position:absolute;
  left:442px;
  top:348px;
  font-family:'Anton', sans-serif;
  font-size: 2.5vw;
  letter-spacing: 10pt;
  color: rgb(255, 255,255 );
 	
 }

.where4{

  position:absolute;
  left:1060px;
  top:10px;
  font-family:'Anton', sans-serif;
  font-size: 1.5vw;
  letter-spacing:2.5pt;
  color: rgb(0, 0,0 );
 	
 }

.where5{

  position:absolute;
  left:1022px;
  top:35px;
  font-family:'Anton', sans-serif;
  font-size: 1.5vw;
  letter-spacing:2.5pt;
  color: rgb(0, 0,0 );
 	
 }

 .at{
  
  position:absolute;
  left:563px;
  top:565px;
  font-family:'Anton', sans-serif;
  font-size: 4.25vw;
  color: rgb(255, 255,255 );
 }


.pricing{
 
  position:absolute;
  left:986px;
  top:565px;
  font-family:'Anton', sans-serif;
  font-size: 4.25vw;
  color: rgb(0,0 ,0 );

}

/*.box{

	top:30px;
	left:510px;
	width:100px;
	height:50px;
	background-color: black;
	position: absolute;
}*/

@media (max-width:711px) {


.background{
  background-image: url(alyssa5.jpg);
} 

/*.NIKE{

  position:absolute;
  left:25px;
  top:10px;
 
}*/

.NIKE2{

  position:absolute;
  left:25px;
  top:10px;
 
}

.SPORTY{

  position:absolute;
  left:40px;
  top:45px;
  font-family:'Anton', sans-serif;
  font-size: 14.5vw;
  color: rgb(255, 255, 255);

}

.X{

  position:absolute;
  left:300px;
  top:-100px;
  font-family: 'Permanent Marker', cursive;
  font-size: 26.5vw;
  color: rgb(0, 0, 0);

}

.CHIC{

  position:absolute;
  left:425px;
  top:45px;
  font-family: 'Anton', sans-serif;
  font-size: 14.5vw;
  color: rgb(255,255,255);

}

.w{
  
  position:absolute;
  left:427px;
  top:220px;
  font-family: 'Libre Baskerville', serif;
  font-size: 5.5vw;
  color: rgb(0, 0, 0);
}



.WHEN2{

  position:absolute;
  left:40px;
  top:773px;
  font-family:'Anton', sans-serif;
  font-size:8.25vw;
  color: rgb(255,255,255 );
 }

.when{

  position:absolute;
  left:47px;
  top:628px;
  font-family:'Open Sans', sans-serif;
  font-size: 10pt;
  color: rgb(, , );
  display: none;
 }



.at{
  
  position:absolute;
  left:470px;
  top:773px;
  font-family:'Anton', sans-serif;
  font-size: 8.25vw;
  color: rgb(255, 255, 255);
 }



 .where2{

  position:absolute;
  left:48px;
  top:375px;
  font-family:'Anton', sans-serif;
  font-size: 4.05vw;
  letter-spacing:24pt;
  text-align: center;
  color: rgb(255,255 ,255 );
 }

 .where3{

  position:absolute;
  left:57px;
  top:415px;
  font-family:'Anton', sans-serif;
  font-size: 4.05vw;
  letter-spacing:24pt;
  text-align: center;
  color: rgb(255,255 ,255);
 	
 }

 .where4{

  position:absolute;
  left:465px;
  top:645px;
  font-family:'Anton', sans-serif;
  font-size: 3.25vw;
  letter-spacing:5pt;
  color: rgb(255, 255,255 );
 	
 }

 .where5{

  position:absolute;
  left:465px;
  top:715px;
  font-family:'Anton', sans-serif;
  letter-spacing:5pt;
  font-size: 3.25vw;
  color: rgb(255, 255, 255);
 	
 }


.pricing{
 
  position:absolute;
  left:525px;
  top:8px;
  font-family:'Anton', sans-serif;
  font-size: 4.25vw;
  color: rgb(255,255 ,255 );
}

.box{

	top:30px;
	left:510px;
	width:100px;
	height:50px;
	background-color: black;
	position: absolute;
}


}


